.container form {
    display: grid;
    grid-template-columns: 200px 200px;
    padding: 20px;
    grid-gap: 20px;
}

button {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 10px;
    background-color: blue;
    color: white;
}