.summation {
    padding: 20px;
}

.amountSummary {
    display: grid;
    grid-template-columns: 200px 200px;
    font-size: x-large;
    column-gap: 100px;
    row-gap: 30px;
}

h3 {
    font-size: xx-large;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 70%;
}

.endBalance {
    font-weight: bolder;
}