.layout {
    display: block;
}

@media screen and (min-width: 768px) {
    .layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        align-items: start;
        padding-top: 40px;
    }
}